@import "breakpoint";

$device__mobile: max-width 594px;
$device__mobile_portrait: max-width 479px;
$device__mobile_landscape: 480px 594px;

$device__tablet: 595px 1123px;
$device__tablet_portrait: 595px 768px;
$device__tablet_landscape: 769px 1123px;

$device__desktop: 1124px;

$device__large: 1824px;